body {
  margin: 0;
  height: 100vh;
  background-color: rgb(222, 21, 249);
  color: aliceblue;
}

.container {
  display: flex;
  text-align: center;
  /* justify-content: center; */
  flex-direction: column;
}
.domElements {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#reset {
  width: 120px;
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  border: none;
}
#subtract {
  font-size: 2rem;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border: none;
}
#add {
  font-size: 2rem;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  border: none;
}
#count {
  font-size: 8rem;
}

#add,
#subtract {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: transparent;
  color: white;
  border: 2px solid white;
}
